<h1>Coin Counter!</h1>
<form action='/result' method='post'>
  <label for='new-supercoolmegacoincounterthing'>Smallest amount of coins back for your changes</label>
  <input id='new-supercoolmegacoincounterthing' name='new-supercoolmegacoincounterthing' type='text'>
  <button type='submit'>Click here damn it</button>
</form>
